---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { twMerge } from "tailwind-merge";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

type ProjectList = {
    title: string;
    emoji: string;
    desc: string;
    href: string;
    // year: string;
};

const presentProjectList: ProjectList[] = [
    {
        title: "A Gym App",
        emoji: "🏋️‍♀️",
        desc: "Gym app to help people find routines from small creators.",
        href: "https://agymapp.impey.dev",
    },
    {
        title: "Blue & Bear",
        emoji: "🐶",
        desc: "Beautifully illustrated & naturally inspired dog accessories.",
        href: "https://blueandbear.com",
    },
    {
        title: "Index Igniter",
        emoji: "🔥",
        desc: "An automated search engine indexing and ranking assistant.",
        href: "https://indexigniter.com/",
    },
    {
        title: "Link Catch",
        emoji: "🥅",
        desc: "URL Shortner with built in analytics and conditional routing.",
        href: "https://linkcat.ch/",
    },
    {
        title: "LocalHousePrices",
        emoji: "🏡",
        desc: "Detailed insights into house prices across the United Kingdom.",
        href: "https://localhouseprices.co.uk",
    },
];

const pastProjectList: ProjectList[] = [
    {
        title: "TranslateShorts",
        emoji: "💬",
        desc: "Short form video translator using Remotion and AWS.",
        href: "https://impey.dev",
    },
    {
        title: "IconCraft",
        emoji: "🔮",
        desc: "OpenAI DALL-E App Icon Generator built with React",
        href: "https://impey.dev",
    },
    {
        title: "CommodityChat",
        emoji: "📦",
        desc: "Pinecone/OpenAI Embeddings for quicker HSC classification",
        href: "https://impey.dev",
    },
    {
        title: "Absences",
        emoji: "🏝️",
        desc: "Employee absence and holiday management SaaS platform.",
        href: "https://impey.dev",
    },
    {
        title: "Pinnacle",
        emoji: "🟣",
        desc: "Exclusive mobile application for club members.",
        href: "https://impey.dev",
    },
    {
        title: "Skipper My Boat",
        emoji: "⛵️",
        desc: "Peer to peer boat rental platform with over 30,000 boats.",
        href: "https://and-element.com/projects/skipper-my-boat",
    },
    {
        title: "Find-A-PC",
        emoji: "🖥️",
        desc: "Helping University of Lincoln students find available computers.",
        href: "https://findapc.lincoln.ac.uk/",
    },
    {
        title: "Eco Trips",
        emoji: "🏆",
        desc: "Calculate the Co2 of your trips (Lincoln Hack Winner)",
        href: "https://impey.dev",
    },
    {
        title: "CatFacts",
        emoji: "🏆",
        desc: "Randomised Twitter Cat Facts (Lincoln Hack Winner)",
        href: "https://impey.dev",
    },
    {
        title: "NavigateMe",
        emoji: "🗺️",
        desc: "Navigating students around the University of Lincoln campus.",
        href: "https://navigateme.lincoln.ac.uk/",
    },
    {
        title: "Chrome MC Status",
        emoji: "⛏️",
        desc: "Chrome extension for checking Minecraft server status",
        href: "https://impey.dev",
    },
];
---

<PageLayout meta={{ title: "Home" }}>
    <section>
        <h1 class="title mb-6">Projects</h1>
        <p class="pb-4">
            I work on a lot of side projects in my spare time. Most of them never see a full release, or get dropped to
            free up time to work on new things.
        </p>
        <p>
            My tech stack for personal development is based upon TypeScript and Node. React (Remix/Next/Vite/Expo) for
            the frontend, and normally a combination of Supabase offering for the backend. I use PostgreSQL with Drizzle
            for any database needs.
        </p>
    </section>
    <section class="mt-16">
        <h2 class="title mb-4 text-xl">Present</h2>
        <dl class="space-y-4">
            {
                presentProjectList.map(({ title, desc, href, emoji }) => (
                    <div class="flex flex-col gap-2 md:flex-row">
                        <dt>
                            <span class="flex">
                                <span class="pr-1">{emoji}</span>
                                <a class="cactus-link" href={href} target="_blank">
                                    {title}
                                </a>
                                :
                            </span>
                        </dt>
                        <dd>{desc}</dd>
                    </div>
                ))
            }
        </dl>
    </section>
    <section aria-label="Blog post list" class="mt-16">
        <h2 class="title mb-4 text-xl">Past</h2>
        <dl class="space-y-4">
            {
                pastProjectList.map(({ title, desc, href, emoji }) => (
                    <div class="flex flex-col gap-2 md:flex-row">
                        <dt>
                            <span class="flex">
                                <span class="pr-1">{emoji}</span>
                                <a class="cactus-link" href={href} target="_blank">
                                    {title}
                                </a>
                                :
                            </span>
                        </dt>
                        <dd>{desc}</dd>
                    </div>
                ))
            }
        </dl>
    </section>
</PageLayout>
